html {
  height: 100%;
  width: 100%;
}
body,select,input[type="text"],textarea{
  font-weight: bold;
  text-transform: capitalize;
}
table,tr,td{
  border: 0px;
  border-collapse: collapse;
  border-color: white;
  padding: 5px;
  border-spacing: 20px;
  margin-top: 30px;
  margin: 0px auto;
}
.pricelist{
  text-align: center;
}
.mybutton{
  background-color: violet;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}
#entrybox {
      width: 40%;
      height: 43px;
      margin-top: 5px;
      margin-left: 5px;
      border: 2px solid #b4b39d;
      border-radius: 6px;
      background-color: #c3c2ab;
    }
.bill{
  margin-left: 23%;
  margin-right: 20%;
}
.bill1{
  margin-left: 33%;
  margin-right: 20%;
}
#sf{
  height: 48px;
  border: 2px solid violet;
  border-radius: 4px;
}
.bill2{
      margin-left: 70%;
      position: relative;
    }
.bill3{
      margin-left: 50%;
      position: absolute;
    }