html, body {
  height: 100%;
  width: 100%;
}
.headingbg{
  background-color:lightblue;
  height:100%;
}
.leftlist{
  list-style-type: square;
}
.college{
  list-style-type: lower-roman;
  list-style-position: inside;
}
.university{
  list-style-type: decimal;
  list-style-position: outside;
}
.item{
  list-style-type: disc;
  list-style-position: inside;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}
td,th{
  text-align: center;
  border: 1px solid black;
}
tr:hover{
  background-color: lightblue;
}
a:link{
  color:royalblue;
  text-decoration:none;
  background-color:white;
}
a:visited{
  color:royalblue;
  text-decoration:none;
  background-color:floralwhite;
}
a:hover{
  color:red;
  text-decoration:underline;
  background-color:lightyellow;
}
a:active{
  color:red;
  text-decoration:underline;
  background-color:lightblue
}
.images{
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 4px;
  border-spacing: 1px;
  width: 150px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#leftcs{
  background-color: lightyellow;
}
body{
  overflow: hidden;
}
marquee{
  font-style: italic;
  font-size: 25px;
  color: red;
}
#rightcs{
  background-color: lightblue;
}