.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}
.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 30px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0069D9;
}